* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body {
  background-color: #2d3031;
}

#wrapper {
  position: relative;
  right: 140px;
  margin: 37px auto;
  max-width: 850px;
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-areas:
    ".    header"
    "main main"
    ".    footer";
}

#add-btn,
#add-form {
  background-color: #3fbeaf;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 7px;
  border: none;
  text-align: center;
  background-image: url(/img/plus.svg);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 10px 10px;
  position: relative;
  top: 45px;
  left: calc(50% - 50px);
  transition: ease-out 400ms;
  transform: rotate(0deg);
}

#add-btn:hover,
#add-form:hover {
  transform: rotate(90deg);
}

#add-form {
  top: 80px;
  background-color: #ef7922;
}

header,
main,
footer {
  background-color: white;
}

header {
  padding-bottom: 50px;
  grid-area: header;
}
main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#logo > img {
  width: 250px;
}

#logo {
  margin: 35px;
  text-align: center;
}

#date-cnt {
  display: grid;
  font-weight: 600;
  grid-template-columns: 10% auto auto auto 4fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    ".  date    month   .   day-of-week ."
    ".  date    year    .   day-of-week .";
}

#date {
  grid-area: date;
  font-size: 100px;
  color: #3fbeaf;
}

#month {
  position: relative;
  top: 15px;
  grid-area: month;
  font-size: 48px;
  color: #e51e25;
}

#year {
  position: relative;
  top: -6px;
  left: 5px;
  font-size: 38px;
  grid-area: year;
  color: #ef7922;
}

#day-of-week {
  color: #3fbeaf;
  text-align: center;
  grid-area: day-of-week;
  margin: auto;
  font-size: 40px;
}

ul {
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: 140px 120px 1fr 70px 0px 0px;
  grid-template-rows: 70px;
  -webkit-transition: all 1s; 
  -moz-transition: all 1s; 
  -ms-transition: all 1s; 
  -o-transition: all 1s; 
  transition: all 1s;
}

.li-open {
  grid-template-columns: 0px 120px 1fr 70px 70px 70px;
}

.blank {
  background-color: #2d3031;
}

.msg-title {
  border-bottom: 1px solid;
  width: 100%;
  font-weight: 600;
  font-size: 21px;
  padding: 20px 0 0 0;
}

.tick {
  padding: 20% 0 0 50%;
  left: -500px;
}
.tick img {
  height: 25px;
  justify-self: center;
  align-self: stretch;
}

.tick img:hover {
  cursor: pointer;
}

.arrow {
  border-bottom: 1px solid;
  padding: 40%;
}

.arrow img {
  height: 18px;
}

.edit {
  background-color: #ef7922;
  text-align: center;
  padding: 30%;
  background-image: url(/img/document.svg);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 22px 19px;
}

.delete {
  background-color: #e51e25;
  padding: 30%;
  background-image: url(/img/trash.svg);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 22px 19px;
}

#overlay {
  position: fixed;
  z-index: 3;
  top: calc(50vh - 400px);
  left: calc(50vw - 390px);
  max-width: 800px;
  height: 300px;
  display: none;
}
#overlay form {
  background-color: white;
  display: grid;
  grid-template-columns: auto;
  padding: 30px 100px;
}

#overlay input {
  height: 35px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  width: 450px;
  padding: 2px;
}

#overlay label {
  padding-top: 25px;
  font-weight: 600;
  color: #e51e25;
}

#overlay h2 {
  color: #3fbeaf;
  font-weight: 600;
}

#darken {
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

form img {
  position: relative;
  transform: rotate(180deg);
  width: 40px;
  left: -70px;
}

form img:hover {
  cursor: pointer;
}

.ticked {
  text-decoration: line-through;
  color: gray;
}

.event-date {
  font-size: 0.7em;
  font-weight: 400;
}
